<div class="header-container" *ngIf="album">
	<div class="col-1">
		<div class="media-image-internal" [style.background-image]="'url('+ album.image +')'"></div>
	</div>
	<div class="col-2">
		<div class="playlist">PLAYLIST</div>
		<div class="playlist-title">{{album.name}}</div>
		<div class="playlist-desc">{{album.desc}}</div>
		<div class="action-buttons">
			<button class="play-btn btn btn-small">PLAY</button>
			<button class="follow-btn btn btn-small">FOLLOW</button>
			<button class="more-btn btn"></button>
		</div>
	</div>
	<div class="col-3">
		<div class="stats">
			<div>FOLLOWERS</div>
			<div>{{album.followers}}</div>
		</div>
	</div>
</div>
