<div class="header-container">
	<div class="col-1">
		<div class="media-image-internal" [style.background-image]="'url('+playlist.image+')'"></div>
	</div>
	<div class="col-2">
		<div class="playlist">PLAYLIST</div>
		<div class="playlist-title">{{playlist.name}}</div>
		<div class="playlist-desc">{{playlist.desc}}</div>
		<div class="action-buttons">
			<button class="play-btn btn btn-small">PLAY</button>
			<button class="follow-btn btn btn-small">FOLLOW</button>
			<button class="more-btn btn"></button>
		</div>
	</div>
	<div class="col-3">
		<div class="stats">
			<div>FOLLOWERS</div>
			<div>{{playlist.followers}}</div>
		</div>
	</div>
</div>
