$athens-gray: #FBFBFC;
$astral: #337ab7;
$black-20: rgba(0, 0, 0, 0.2);
$limeade: #648f00;
$mischka: #dfe0e6;
$shark: #222326;
$shark-2: #1c1c1f;
$silver-chalice: #a0a0a0;
$oslo-gray: #88898c;
$pistachio: #84bd00;
$white: #fff;
$woodsmoke: #121314;
