<div class="main-nav">
	<a href="/" class="logo"></a>
	<ul>
		<li><a href class="spoticon-search-32 standard-menu-item"><span>Search</span></a></li>
		<li><a href class="spoticon-browse-32 standard-menu-item"><span>Browse</span></a></li>
		<li><a href class="spoticon-radio-32 standard-menu-item"><span>Radio</span></a></li>
		<li><a href class="spoticon-collection-32 standard-menu-item"><span>Your Music</span></a></li>
		<li><a href class="spoticon-follow-32 standard-menu-item"><span>Follow</span></a></li>
	</ul>
</div>
