@import './styles/_palette';

.container {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 595px;
	overflow: hidden;
	main {
		background: $woodsmoke;
		position: absolute;
		left: 90px;
		right: 0;
		top: 0;
		bottom: 0;
		overflow-y: scroll;
	}
	.container-fluid {
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
}
